@inject HttpClient Http

@if(showDetails)
{
    <hr/>
    <p>
        Project Name: @project.Name<br/>
        Description: @project.Description<br />
        Start Date: @project.StartDate<br />
        End Date: @project.EndDate<br />
    </p>
}

@code {
    [Parameter]
    public int ProjectId { get; set; }
    
    bool showDetails = false;
    ProjectResponse project { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var result = await Http.GetAsync($"api/project/{ProjectId}");
        if (result.IsSuccessStatusCode)
        {
            project = await result.Content.ReadFromJsonAsync<ProjectResponse>();
            showDetails = true;
        }
        else
        {
            showDetails = false;
        }
    }

}
